/.metadata
/Anfang
/CookieClicker
/Exceptions
/GUITest
/Kneiffel
/Kneiffel_mit_Gui
/Passwortabfrage
/PotterSpiel
/ProjektArtikel
/ProjektPasswort
/ProjektPotter
/Uebung
/Vererbung
/Weihnachten
/Wuerfelspiel